#container {
  display: grid;
  grid-template-areas: "logo logo logo logo" "nav nav nav nav" "img1 img2 img3 img4" "article article article article" "sidebar form form form" "sidebar camping camping camping" "sidebar fishing fishing fishing" "sidebar hiking hiking hiking" "sidebar mountain_climbing mountain_climbing mountain_climbing" "footer footer footer footer";
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  background-color: black;
  background-size: cover;
  font-size: 15px;
  font-family: sans-serif;
  left: 0;
  margin: 0;
  padding: 0; }

nav {
  display: grid;
  grid-area: nav;
  background-color: black;
  color: white;
  font-size: 20px;
  margin: 0 auto;
  position: sticky;
  width: 100%;
  text-align: center;
  top: 0;
  border: 0.1px solid #4CB87F; }
  nav li {
    text-decoration: none;
    display: inline;
    margin: 5%; }
  nav a {
    text-decoration: none;
    transition-duration: 0.4s;
    color: white; }
  nav a:hover {
    color: #4CB87F;
    text-decoration: underline; }
  nav ul {
    list-style: none; }
  nav ul li ul {
    background-color: black; }
  nav ul li ul li {
    float: none; }
  nav ul li ul {
    display: none;
    position: absolute; }
  nav ul li:hover ul {
    display: inline-grid; }

#logo {
  grid-area: logo;
  background-image: url("../images/logo-bg.jpeg");
  background-size: cover;
  height: 500px;
  background-color: black;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  top: 0; }
  #logo img {
    padding: 0;
    width: 300px;
    height: 250px; }

#img1 {
  grid-area: img1;
  background-image: url("../images/camping.jpg"); }

#img2 {
  grid-area: img2;
  background-image: url("../images/fishing.jpg"); }

#img3 {
  grid-area: img3;
  background-image: url("../images/hiking.jpg"); }

#img4 {
  grid-area: img4;
  background-image: url("../images/mountain_climbing.jpg"); }

#img1, #img2, #img3, #img4 {
  background-repeat: no-repeat;
  background-size: cover;
  width: 412px;
  height: 350px;
  padding-left: 5px;
  text-align: center;
  font-size: 10px; }
  #img1 a, #img2 a, #img3 a, #img4 a {
    text-decoration: none;
    transition-duration: 0.4s;
    color: black; }
  #img1 a:hover, #img2 a:hover, #img3 a:hover, #img4 a:hover {
    color: #4CB87F;
    text-decoration: underline; }

article {
  grid-area: article;
  background-image: url("../images/article-bckgnd2.jpg");
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
  width: 1400px;
  height: 300px;
  margin: 0 auto;
  padding: 0 20px 0 10px; }
  article h2 {
    color: #4CB87F;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 40px;
    font-family: serif;
    border: 2px solid #4CB87F; }
  article img {
    display: grid;
    float: left;
    width: 300px;
    height: 300px; }
  article img:hover {
    transition-duration: 0.4s;
    width: 400px; }

#sidebar {
  grid-area: sidebar;
  background-color: black;
  font-size: 18px;
  color: white;
  padding: 0px;
  text-decoration: none; }
  #sidebar ul li {
    text-decoration: none;
    text-decoration: none; }
  #sidebar ul li a {
    text-decoration: none;
    transition-duration: 0.4s;
    color: white;
    padding: 0; }
  #sidebar ul li a:hover {
    color: #4CB87F;
    font-weight: bold;
    text-decoration: underline; }

#camping, #fishing, #hiking, #mountain_climbing {
  text-align: justify;
  color: white;
  font-size: 20px;
  background-color: black;
  width: 100%;
  border: 0.5px solid #4CB87F;
  line-height: 30px; }
  #camping h1, #camping h2, #camping h3, #fishing h1, #fishing h2, #fishing h3, #hiking h1, #hiking h2, #hiking h3, #mountain_climbing h1, #mountain_climbing h2, #mountain_climbing h3 {
    text-align: center;
    font-family: "high tower text"; }
  #camping li, #fishing li, #hiking li, #mountain_climbing li {
    text-decoration: none; }
  #camping a, #fishing a, #hiking a, #mountain_climbing a {
    transition-duration: 0.4s;
    color: white; }
  #camping a:hover, #fishing a:hover, #hiking a:hover, #mountain_climbing a:hover {
    color: #50af2d;
    font-weight: bold;
    text-decoration: underline; }
  #camping h1, #fishing h1, #hiking h1, #mountain_climbing h1 {
    background-color: #4CB87F;
    color: black; }
  #camping img, #fishing img, #hiking img, #mountain_climbing img {
    padding: 10;
    width: 280px;
    height: 300px; }
  #camping img:hover, #fishing img:hover, #hiking img:hover, #mountain_climbing img:hover {
    transition-duration: 0.4s;
    opacity: 0.5; }

#camping {
  grid-area: camping; }

#fishing {
  grid-area: fishing; }

#hiking {
  grid-area: hiking; }

#mountain_climbing {
  grid-area: mountain_climbing; }

form {
  grid-area: form;
  display: grid;
  margin: 0 auto;
  background-color: black;
  color: white;
  height: 145%;
  width: 100%;
  background-image: url("../images/backgrd.jpeg");
  background-repeat: repeat-x;
  background-size: cover;
  top: 0;
  text-align: center;
  font-family: arial; }
  form ::placeholder {
    color: #4CB87F s; }
  form label {
    display: inline-block;
    margin: 0 auto;
    left: 0;
    width: 200px;
    font-size: 25px;
    font-weight: bold; }
  form .input {
    width: 300px;
    height: 30px; }
  form input[type=submit] {
    width: 100px;
    margin: auto; }

footer {
  grid-area: footer;
  text-align: center;
  background-color: black; }
    footer  a {
      display: inline-block;
      text-decoration: none;
      transition-duration: 0.4s;
      color: white;
      padding: 0; }
    footer  a:hover {
      color: #4CB87F;
      font-weight: bold;
      text-decoration: underline; }
     }

@media screen and (min-width: 960px) {
  #container {
    width: 100%; } }
@media screen and (min-width: 640px) {
  #container {
    width: 100%; }

  #img1 {
    grid-area: img1; }
    #img1 img {
      width: 100%; }

  #img2 {
    grid-area: img2; }
    #img2 img {
      width: 100%; }

  #img3 {
    grid-area: img3; }
    #img3 img {
      width: 100%; }

  #img4 {
    grid-area: img4; }
    #img4 img {
      width: 100%; } }
@media only screen and (max-width: 425px) {
  #container {
    font-size: 12px; }

  nav {
    font-size: 15px; }
    nav li {
      margin-left: 0;
      margin-right: 3%; }

  form {
    width: 100%; }

  article {
    text-align: center;
    font-size: 10px;
    padding: 0; }
    article h2 {
      line-height: 20px;
      padding: 5px; }

  #img1, #img2, #img3, #img4 {
    width: 100px;
    height: 100px;
    background-size: cover; }
    #img1 h1, #img2 h1, #img3 h1, #img4 h1 {
      font-size: 15px; }

  #sidebar {
    display: none; }

  #camping, #fishing, #hiking, #mountain_climbing {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: justify; }
    #camping img, #fishing img, #hiking img, #mountain_climbing img {
      padding-left: 8px;
      padding-right: 8px;
      width: 130px;
      height: 130px; }
    #camping h1, #fishing h1, #hiking h1, #mountain_climbing h1 {
      font-size: 16px; }
    #camping h3, #fishing h3, #hiking h3, #mountain_climbing h3 {
      font-size: 12px; } }
@media only screen and (max-width: 320px) {
  #container {
    font-size: 10px;
    grid-template-areas:
    "logo logo"
    "nav nav"
    "article article"
    "img1 img2"
    "img3 img4"
    "camping camping"
    "fishing fishing"
    "hiking hiking"
    "mountain_climbing mountain_climbing"
    "sidebar sidebar"
    "footer footer";
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
   }

  nav {
    font-size: 15px; }
    nav li {
      margin-left: 0;
      margin-right: 3%; }

  #logo {
    height: 250px; }
    #logo img {
      width: 80px;
      height: 80px; }

  form {
    width: 100%;
    padding: 0;
    height: 120%; }
    form .input {
      width: 100px;
      height: 10px; }
    form h1 {
      font-size: 15px; }

  article {
    text-align: center;
    font-size: 10px;
    padding: 0 15px 0 20px; }
    article h2 {
      line-height: 20px;
      padding: 5px; }

  #img1, #img2, #img3, #img4 {
    width: 150px;
    height: 100px;
    background-size: cover; }
    #img1 h1, #img2 h1, #img3 h1, #img4 h1 {
      font-size: 15px; }

  #img2 {
    float: left; }

  #img4 {
    float: left; }

  #camping, #fishing, #hiking, #mountain_climbing {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: justify;
    font-size: 12px; }
    #camping img, #fishing img, #hiking img, #mountain_climbing img {
      padding-left: 8px;
      padding-right: 8px;
      width: 130px;
      height: 130px; }
    #camping h1, #fishing h1, #hiking h1, #mountain_climbing h1 {
      font-size: 16px; }
    #camping h3, #fishing h3, #hiking h3, #mountain_climbing h3 {
      font-size: 14px; }

  footer {
    margin-top: 4%; }
    }

/*# sourceMappingURL=style.css.map */
