//my sass//
#container{
  display: grid;
  grid-template-areas:
  "logo logo logo logo"
  "nav nav nav nav"
  "article article article article"
  "panel panel panel panel"
  "camping camping camping camping"
  "fishing fishing fishing fishing"
  "hiking hiking hiking hiking"
  "mountain_climbing mountain_climbing mountain_climbing mountain_climbing";
  grid-template-columns: auto auto auto auto;
  grid-template-rows:  200px auto auto 50px auto auto auto;
  background-color: #63c98f;
  font-size: 15px;
}

@mixin info{
  font-family:sans-serif;
  text-align: center;
  color: white;
  background-color: black;
  width: 100%;
  border: 2px solid #63c98f;

  li{
    text-decoration: none;
  }

  a{
    transition-duration: 0.4s;
    color: white;
  }

  a:hover{
    color: #63c98f;
    font-weight: bold;
    text-decoration: underline;
  }
}

@mixin greenNav{
  background-color: black;
  color: white;
  font-size: 20px;
  margin:0 auto;
  position: sticky;
  width: 100%;
  text-align: center;
  top: 0;
  border: 1px solid #63c98f;
}

// STYLE FOR NAV//
nav{
  display: grid;
  grid-area: nav;
  @include greenNav;

    li{
      text-decoration: none;
      display: inline;
      margin: 5%;
    }

    a{
    text-decoration: none;
    transition-duration: 0.4s;
    color: white;
    }

    a:hover{
      color: #63c98f;
      text-decoration: underline;
    }

    ul{
      list-style: none;

    }
    ul li ul{
      background-color: black;
    }

    ul li ul li{
      float:none;
    }
    ul li ul{
      display: none;
      position: absolute;
    }

    ul li:hover ul{
      display:inline-grid;
    }
}

//STYLE FOR LOGO//
#logo{
  grid-area: logo;
  background-color: black;
  margin:0 auto;
  width: 100%;
  text-align: center;
  top: 0;
}

//STYLE FOR IMAGES//

article{
  grid-area: article;
  // padding: 10px;
  margin: 0 auto;
  font-style: italic;
  font-size: 20px;
  color: white;
  font-family:sans-serif;
  text-align: center;
  background-color: black;
  display: inline;
  h2{
    color: #63c98f;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 40px;
    font-family:serif;
    border: 2px solid #63c98f;
  }
    img {
      padding: 2px;
      float: left;
      width: 300px;
      height: 300px;
    }

    img:hover{
      transition-duration: 0.4s;
      width:400px;
    }

}
//style for img label//
#panel{
  display: grid;
  grid-area: panel;
  grid-template-columns: 300px 350px 280px 300px;
  font-size: 20px;
  text-align: center;
  //margin: 0 auto;
  padding-left:200px;
  //padding-right: 100px;
  background-color: black;
  li{
    text-decoration: none;
    display: inline;
  //  margin: 60px ;
  }

  a{
  text-decoration: none;
  transition-duration: 0.4s;
  color: white;
  }

  a:hover{
    //font-weight: bold;
    color:  #63c98f;
    text-decoration: underline;}
}

//style for information//
#camping{
  grid-area: camping;
  @include info;
  img {
    padding: 10;
    width: 300px;
    height: 300px;
  }

  img:hover{
    transition-duration: 0.4s;
    width:400px;
  }

}

#fishing{
  grid-area: fishing;
  @include info;
  img {
    padding: 10;
    width: 300px;
    height: 300px;
  }

  img:hover{
    transition-duration: 0.4s;
    width:400px;
  }

}

#hiking{
  grid-area: hiking;
  @include info;
  img {
    padding: 10;
    width: 300px;
    height: 300px;
  }

  img:hover{
    transition-duration: 0.4s;
    width:400px;
  }
}

#mountain_climbing{
  grid-area: mountain_climbing;
  @include info;
  img {
    padding: 10;
    width: 300px;
    height: 300px;
  }

  img:hover{
    transition-duration: 0.4s;
    width:400px;
  }

}

//STYLE FOR FORM//
form{
  display: grid;
  grid-column: span 4;
  margin: 0 auto;
  padding: 30px 0px;
  background-color: black;
  color: white;
  height: 100%;
  width: 60%;
  background-image: url("../images/backgrd.jpeg");
  background-repeat: repeat-x;
  background-size: cover;
  top: 0;
  text-align: center;
  font-family: arial;

    ::placeholder{
      color: #63c98f;
    }
   label{
     display: inline-block;
     margin: 0 auto;
     left: 0;
     width: 200px;
     font-size: 25px;
     font-weight: bold;
  }
  .input{
    width: 300px;
    height: 30px;
  }

  input[type=submit]{
    width: 100px;
    margin: auto;
  }
}

//MOBILE 960//
@media screen and (min-width: 960px){
  #container{
    width:100%;
  }
}

//MOBILE 640//
@media screen and (min-width:640px){
  #container{
    width: 100%;
  }

  .article > img{
    width: 100%;
  }
}

// MOBILE 320//
@media screen and (min-width:320px){
  #container{
    width: 100%;
  }
}
