#container {
  display: grid;
  grid-template-areas: "logo logo logo logo" "nav nav nav nav" "article article article article" "panel panel panel panel" "camping camping camping camping" "fishing fishing fishing fishing" "hiking hiking hiking hiking" "mountain_climbing mountain_climbing mountain_climbing mountain_climbing";
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 200px auto auto 100px auto auto auto;
  background-color: #63c98f;
  font-size: 15px; }

nav {
  grid-area: nav;
  background-color: black;
  color: white;
  font-size: 20px;
  margin: 0 auto;
  position: sticky;
  width: 100%;
  text-align: center;
  top: 0; }
  nav li {
    text-decoration: none;
    display: inline;
    margin: 5%; }
  nav a {
    text-decoration: none;
    transition-duration: 0.4s;
    color: white; }
  nav a:hover {
    color: #63c98f;
    text-decoration: underline; }
  nav .dropdown {
    position: relative;
    display: inline-block; }
  nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px; }
  nav .dropdown-content:hover {
    display: block; }

#logo {
  grid-area: logo;
  background-color: black;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  top: 0; }

article {
  grid-area: article;
  padding: 10px;
  margin: 0 auto;
  font-style: italic;
  font-size: 20px;
  color: white;
  font-family: sans-serif;
  text-align: center;
  background-color: black;
  display: inline; }
  article img {
    padding: 2px;
    float: left;
    width: 300px;
    height: 300px; }
  article img:hover {
    transition-duration: 0.4s;
    width: 400px; }

#panel {
  display: grid;
  grid-area: panel;
  grid-template-columns: 300px 350px 280px 300px;
  font-size: 20px;
  text-align: center;
  padding-left: 130px;
  background-color: black; }
  #panel li {
    text-decoration: none;
    display: inline; }
  #panel a {
    text-decoration: none;
    transition-duration: 0.4s;
    color: white; }
  #panel a:hover {
    color: #217f6c;
    text-decoration: underline; }

#camping {
  grid-area: camping;
  font-family: sans-serif;
  text-align: center;
  color: white;
  background-color: black;
  width: 100%;
  border: 2px solid #63c98f; }
  #camping li {
    text-decoration: none; }
  #camping a {
    transition-duration: 0.4s;
    color: white; }
  #camping a:hover {
    color: #63c98f;
    font-weight: bold;
    text-decoration: underline; }

#fishing {
  grid-area: fishing;
  font-family: sans-serif;
  text-align: center;
  color: white;
  background-color: black;
  width: 100%;
  border: 2px solid #63c98f; }
  #fishing li {
    text-decoration: none; }
  #fishing a {
    transition-duration: 0.4s;
    color: white; }
  #fishing a:hover {
    color: #63c98f;
    font-weight: bold;
    text-decoration: underline; }

#hiking {
  grid-area: hiking;
  font-family: sans-serif;
  text-align: center;
  color: white;
  background-color: black;
  width: 100%;
  border: 2px solid #63c98f; }
  #hiking li {
    text-decoration: none; }
  #hiking a {
    transition-duration: 0.4s;
    color: white; }
  #hiking a:hover {
    color: #63c98f;
    font-weight: bold;
    text-decoration: underline; }

#mountain_climbing {
  grid-area: mountain_climbing;
  font-family: sans-serif;
  text-align: center;
  color: white;
  background-color: black;
  width: 100%;
  border: 2px solid #63c98f; }
  #mountain_climbing li {
    text-decoration: none; }
  #mountain_climbing a {
    transition-duration: 0.4s;
    color: white; }
  #mountain_climbing a:hover {
    color: #63c98f;
    font-weight: bold;
    text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
